.strike {
  text-decoration: line-through;
}

.non-strike {
  text-decoration: none;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
